
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

SESSION_DRIVER=cookie

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=gateway

GATEWAY_1_URL=http://localhost:3001
GATEWAY_2_URL=http://localhost:3002
GATEWAY_1_EMAIL=dev@betalent.tech
GATEWAY_1_TOKEN=FEC9BB078BF338F464F96B48089EB498
GATEWAY_2_AUTH_TOKEN=tk_f2198cc671b5289fa856
GATEWAY_2_AUTH_SECRET=3d15e8ed6131446ea7e3456728b1211f

# CORS_ORIGIN=http://localhost:5173,http://localhost:3000